form {
  width: max-content;
  height: max-content;

  position: relative;
  .custom-input {
    background-color: transparent;

    width: clamp(275px, 50vw, 325px);
    @include glass-effect;
    @include border($radius);
    &:focus {
      background-color: $bright;
      outline: 2px solid $contrast;
      border-color: $contrast;
    }
  }
}
.custom-input-btn {
  position: absolute;
  top: 0;
  right: 0;

  width: 1.4rem;

  padding: 7px 0;

  @include button;

  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: $radius;
  border-bottom-right-radius: $radius;
}
