.custom-condition-article {
  div {
    img {
      height: clamp(2rem, 3vw, 3rem);
      width: clamp(2rem, 3vw, 3rem);
    }
    p {
      font-size: clamp(1rem, 1.5vw, 1.5rem);
    }
  }
  h2 {
    font-size: clamp(1.5rem, 1.5vw, 2rem);
  }
}
