@import "variables.scss";
@import "mixins.scss";
@import "0.0-search.scss";
@import "1.0-selected.scss";
@import "1.1-6-conditions.scss";
@import "2.0-forecast-five.scss";
@import "3.0-storage-render";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: "Courier New", Courier, monospace;

  body {
    color: $dark;
  }

  .custom-background {
    background-image: url("../../../public/img/tree.webp");
    background-size: cover;

    height: 100%;
    padding-bottom: 50px;
    .custom-interface {
      @include glass-effect;
      @include border($radius);
      box-shadow: 0 10px 100px -50px $dark;
    }
  }

  @media (min-width: 415px) {
    .custom-background {
      height: 100vh;
      width: 100vw;
      .custom-interface {
        height: max-content;
      }
    }
  }

  // Error Handling
  .custom-error {
    @include glass-effect;
    border-radius: $radius;
  }

  // Bottom Attribution
  i {
    // position: absolute;
    // bottom: 0;
  }
  a {
    color: $contrastOriginal;

    font-size: 1.075rem;
    text-decoration: none;
  }
}
