@mixin glass-effect() {
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

@mixin border($radius) {
  border-radius: $radius;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

@mixin button {
  background-color: $contrast;

  border: none;

  &:hover {
    background-color: $contrast;
    color: $dark;
  }
}
